/**********BEGIN FIELD PAGE**********/
#mainScout{
    max-height: 100%;
    max-width: 100%;
    overflow-x: auto;
}

#scout-field{
    max-width: 100%;
    min-width: 615px;
    max-height: 100%;
    min-height: 517.875px;
    padding: 1em;
    box-sizing: border-box;

    label,
    input,
    select,
    textarea{
        font-size: 1.5em;
    }

    select{
        width: 7em;
    }

    #mode{
        display: none;

        &:not(:checked) {
            &~#teleop,
            ~.teleop,
            ~input[type=submit]{
                display: none;
            }
        }

        &:checked{
            &~#auto,
            ~.auto{
                display: none;
            }
        }

        &~#auto,
        ~#teleop{
            background-color: rgba(255, 255, 255, .5);
            position: absolute;
            padding: .5em;
            cursor: pointer;
        }
    }

    form{
        padding-bottom: (719/953)*100%;
        width: 100%;
        background: url("/static/contents/scout/field.png") no-repeat;
        background-size: cover;
        position: relative;

        div{
            background-color: rgba(255, 255, 255, .5);
            position: absolute;
        }

        #username{
            top: 0;
            right: 0;

            input{
                width: 155px;
                float: right;
            }

            label{
                float: left;
            }
        }

        #move{
            left: 60%;
            top: 45%;
        }

        #auto-scale{
            left: 2%;
            top: 60%;
        }

        .cubes{
            left: 32%;
            top: 20%;
        }

        #scale{
            top: 76%;
            left: 2%;
        }

        #hang{
            top: 48%;
            left: 10%;
        }

        .comm{
            bottom: 0;
            right: 0;
        }

        img{
            width: 100%;
        }

        input[type=number]{
            width: 3em;
        }


        input[type=submit]{
            position: absolute;
            bottom: 0;
            left: 0;
        }

    }
}

/**********END FIELD PAGE**********/
