/**********BEGIN HOME PAGE**********/
#scout-index{
    text-align: center;
}

.scout-btn{
    background-color: $mainColor;
    display: inline-block;
    margin: 2em;

    a{
        text-decoration: none;
        font-size: 2em;
        padding: 2em;
        color: white;
    }
}

/**********END HOME PAGE**********/
