{% extends "base.html" %}
{% block title %}Field{% endblock %}
{% block content %}
    <main id="mainScout">
        <div id="scout-field">
            <form method="POST" action="{{ url_for('field_submit') }}">

                <input type="checkbox" id="mode">
                <label for="mode" id="auto">Switch to Teleop</label>
                <label for="mode" id="teleop">Switch to Auto</label>

                <div id="username">
                    <label for="name">Scout:</label>
                    <input type="text" id="name" name="name" required>
                    <br>
                    <label for="match">Match:</label>
                    <input type="number" name="match" id="match" min="0" step="1" required>
                    <br>
                    <label for="team-no">Team:</label>
                    <select id="team-no" name="team-no" required>
                        <option disabled selected value></option>
                        {% for team in teams %}
                            <option value= "{{ team[0] }}">{{ team[0]|string + " " + team[1]|string }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="auto" id="move">
                    <label>Did they move?</label>
                    <br>
                    <input type="radio" name="move-group" id="yes" value="y">
                    <label for="yes">Yes</label>
                    <br>
                    <input type="radio" name="move-group" id="no" value="n" checked>
                    <label for="no">No</label>
                </div>

                <div class="auto cubes">
                    <label>Switch Cubes</label>
                    <br>
                    <input type="radio" name="auto-cube-switch" id="zero" value="0" checked>
                    <label for="zero">0</label>
                    <br>
                    <input type="radio" name="auto-cube-switch" value="1" id="one">
                    <label for="one">1</label>
                    <br>
                    <input type="radio" name="auto-cube-switch" value="2" id="two">
                    <label for="two">2</label>
                    <br>
                    <input type="radio" name="auto-cube-switch" value="3" id="three">
                    <label for="three">3</label>
                </div>

                <div class="auto" id="auto-scale">
                    <label> Scale Cubes</label>
                    <br>
                    <input type="radio" name="auto-cube-scale" id="azero" value="0" checked>
                    <label for="azero">0</label>
                    <br>
                    <input type="radio" name="auto-cube-scale" value="1" id="aone">
                    <label for="aone">1</label>
                    <br>
                    <input type="radio" name="auto-cube-scale" value="2" id="atwo">
                    <label for="atwo">2</label>
                    <br>
                    <input type="radio" name="auto-cube-scale" value="3" id="athree">
                    <label for="athree">3</label>
                </div>

                <div class="auto comm">
                    <label for="auto-comm">Comments?</label>
                    <br>
                    <textarea rows="4" cols="25" id="auto-comm" name="auto-comm"></textarea>
                </div>

                <div class="teleop cubes">
                    <label for="cube-switch">No. Cubes</label>
                    <br>
                    <input id="cube-switch" name="tele-cube-switch" type="number" min="0" step="1" value="0">
                </div>

                <div class="teleop" id="hang">
                    <input id="hang-check" name="hang" type="checkbox" value="y">
                    <label for="hang-check">Hang?</label>
                </div>

                <div class="teleop" id="scale">
                    <label for="cube-scale">No. Cubes</label>
                    <br>
                    <input id="cube-scale" name="tele-cube-scale" type="number" min="0" step="1" value="0">
                </div>

                <div class="teleop comm">
                    <label for="teleop-comm">Comments?</label>
                    <br>
                    <textarea rows="4" cols="25" id="teleop-comm" name="tele-comm"></textarea>
                    <br>
                    <label for="rating">Rating (1-5)</label>
                    <input type="number" id="rating" name="rating" min="0" max="5" step="1" value="0">
                </div>
                <input type="submit">
            </form>

            <div class="scout-btn">
                <a href="{{ url_for('index') }}">Home</a>
            </div>
        </div>
    </main>
{% endblock %}