{% extends "base.html" %}
{% block title %}Scouting{% endblock %}
{% block content %}
    <main id="scout-index">
        {% if not valid %}
            <div id="passwd">
                <form method="POST" action="{{ url_for('index') }}">
                    <label for="pass">Enter Pass Phrase: </label>
                    <input type="password" name="pass" id="pass" required>
                    <br>
                    <label for="event">Event:</label>
                    <select id="event" name="event" required>
                        <option disabled selected value></option>
                        {% for event in events %}
                            <option value= "{{ event[0] }}">{{ event[1]|string }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit">
                </form>
            </div>
        {% else %}
            <div>
                <div class="scout-btn">
                    <a href="">PIT</a>
                </div>
                <div class="scout-btn">
                    <a href="{{ url_for('field') }}">Field</a>
                </div>
                <br>
                <div class="scout-btn">
                    <a href="{{ url_for('download') }}">Download</a>
                </div>
                <div class="scout-btn">
                    <a href="{{ url_for('field') }}">Wipe</a>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}